@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    margin: 80px 80px;
    max-width: 1440px;
}
.container{
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.container_card{
    margin: 0px 80px;
    display: flex;
    flex-direction: row;
    gap: 59px;
}
.text_container{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.text_container h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
}
.text_container p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
.text_container button{
    background-color: #ffffff;
    color: hsl(257, 40%, 49%);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 10px 6px 1px #533C8C;
}
.text_container button:hover{
    background-color: hsl(300, 69%, 71%);
    color: #ffffff;
    cursor: pointer;
}
#footer{
    margin: 23px 80px;
    display: flex;
    justify-content: flex-end;
}
.icons{
    display: flex;
    gap: 16px;
    flex-direction: row;
}
#footer i{
    gap: 16px;
    display: flex;
    color: #ffffff;
    width: 40px;
    height: 40px;
    transition: 0.2s ease-in-out;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#footer i:hover{
    color: hsl(300, 69%, 71%);
    cursor: pointer;
    border: 1px solid hsl(300, 69%, 71%);
}

@media screen and (max-width: 1118px) {
    #img{
        width: 500px;
        display: block;
    }
    
}
@media screen and (max-width: 919px) {
    .container_card {
        display: flex;
        flex-direction: column;
    }
    #img{
        width: 100%;
    }
    #footer{
        margin-top: 64px;
        display: flex;
        justify-content: center;
    }

    
}
@media screen and (max-width: 375px) {
    .navbar{
        margin: 38px 40px 39px 40px;
    }
    .logo{
        width: 120px;
    }
    .img_container{
        width: 296px;
        height: 209px;
    }
    #img{
        width: 100%;
    }
    .container_card {
        margin: 0px 40px;
    }
    #footer{
        margin: 64px 40px;
    }
    .text_container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text_container h1{
        font-size: 24px;
        line-height: 36px;
    }
    .text_container p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
    }
    .text_container button{
        width: 200px;
        height: 40px;
        font-size: 12px;
        text-align: center;
    }
    #footer i{
        width: 24px;
        height: 24px;
        padding: 5px;
    }
}